.cart-list-0 {
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 25vw 0 25vw;
  margin-top: 20px;
  margin-bottom: 50px;
}

.product-list-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
}

.items-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cart-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.product-image {
  width: 150px;
  height: 150px;
  margin-bottom: 10px;
}

.cart-name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

.cart-description {
  margin-bottom: 5px;
  font-size: 25px;
}

.cart-price {
  margin-bottom: 5px;
  font-size: 25px;
}

.cart-offer-price {
  margin-bottom: 5px;
  color: red;
  font-size: 25px;
}

.cart-title {
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.remove-all-button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.remove-all-button:hover {
  background-color: #cc0000;
}

.shipping-form {
  width: 40%;
}

.shipping-title {
  font-size: 24px;
  margin-bottom: 1rem;
}

.shipping-form form {
  margin-top: 1rem;
}

.cart-total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 400px 0 400px;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}

.cart-total p {
  font-size: 24px;
}

.buy-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.buy-button:hover {
  background-color: #0056b3;
}

.remove-product-button {
  padding: 5px 10px;
  background-color: #ff0000;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.remove-product-button:hover {
  background-color: #cc0000;
}
