.info-content {
  text-align: center;
  margin: 0 200px;
}

.info h1 {
  font-size: 32px;
  margin-bottom: 20px;
}

.info img {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin-bottom: 20px;
}

.info p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.contact-info {
  margin-top: 40px;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.contact-info p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
}
